nav {
    width: 100%;
    height: 20px;
    position: relative;
    background: linear-gradient(to right, lightgray, white);
    z-index: 1000;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

nav ul {
    height: 20px;
    float: left;
}

nav ul li {
    list-style: none;
    float: left;
    height: 22px;
    display: block;
    text-align: center;
    line-height: 20px;
    padding-right: 7px;
    padding-left: 7px;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li:hover {
    background: #5f6975;
}

nav ul ul {
    background: #5f6975;
    padding: 0;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none;
    position: relative;
    height: 100%;
    background-color: lightgray;
    text-align: left;
}

span.activity {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    position: absolute;
    top: 4px;
    right: 10px;
    transition: all 100ms ease;
}

span.activity.disconnected {
    background-color: rgb(226,0,0);
    box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
                0px 0px 3px 2px rgba(226,0,0,0.5);
}

span.activity.connected {
    background-color: rgb(0,226,0);
    box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
                0px 0px 3px 2px rgba(0,226,0,0.5);
}

span.activity.connecting {
    background-color: rgb(255,140,0);
    box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
                0px 0px 3px 2px rgba(255,140,0,0.5);

    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

span.activity.disconnecting {
    background-color: rgb(255,140,140);
    box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
                0px 0px 3px 2px rgba(255,140,140,0.5);

    -webkit-animation-name: magentaPulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

span.activity.disconnected:hover, span.activity.disconnected:focus {
    -webkit-animation-name: redPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

span.activity.connected:hover, span.activity.connected:focus {
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bluePulse {
  from { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #2daebf; -webkit-box-shadow: 0 0 18px #2daebf; }
  to { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes magentaPulse {
  from { background-color: #630030; -webkit-box-shadow: 0 0 3px #333; }
  50% { background-color: #a9014b; -webkit-box-shadow: 0 0 10px #a9014b; }
  to { background-color: #630030; -webkit-box-shadow: 0 0 3px #333; }
}

@-webkit-keyframes orangePulse {
  from { background-color: #d45500; -webkit-box-shadow: 0 0 3px #333; }
  50% { background-color: #ff5c00; -webkit-box-shadow: 0 0 10px #ff5c00; }
  to { background-color: #d45500; -webkit-box-shadow: 0 0 3px #333; }
}

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 3px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 10px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 3px #333; }
}

@-webkit-keyframes redPulse {
  from { background-color: #bc330d; -webkit-box-shadow: 0 0 3px #333; }
  50% { background-color: #e33100; -webkit-box-shadow: 0 0 10px #e33100; }
  to { background-color: #bc330d; -webkit-box-shadow: 0 0 3px #333; }
}